<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Edit Order</title>
</head>
<body>
    <div layout:fragment="content">
    <h1>Edit Order</h1>
    <form th:action="@{/orders/edit/{id}(id=${order.id})}" th:object="${order}" method="post">
        <label for="date">Date:</label>
        <input type="date" id="date" th:field="*{date}"/>
        <br/>
        <label for="customerid">Customer ID:</label>
        <input type="text" id="customerid" th:field="*{customerid}"/>
        <br/>
        <label for="notes">Notes:</label>
        <textarea id="notes" th:field="*{notes}"></textarea>
        <br/>
        <button type="submit">Update Order</button>
    </form>
</body>
</html>
