<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Orders</title>
</head>
<body>
    <div layout:fragment="content">
    <h1>Orders</h1>
    <a href="/orders/create">Create New Order</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Customer ID</th>
                <th>Notes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}">1</td> 
                <td th:text="${#dates.format(order.date, 'dd-MMM-yyyy')}">2024-01-01</td>
                <td th:text="${order.customerid}">10</td>
                <td th:text="${order.notes}">Sample note</td>
                <td>
                    <a th:href="@{/orders/edit/{id}(id=${order.id})}">Edit</a>
                    <a th:href="@{/orders/delete/{id}(id=${order.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</body>
</html>
